* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-image: url('arvores.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 20px;
}

.caixa {
    width: 380px;
    height: 420px;
    padding: 20px;
    border-radius: 12px;
    overflow-y: auto;
}

.caixa1 {
    background-color: #ffffff;
    opacity: 0.5;
}

.caixa2 {
    background-color: rgba(255, 255, 255, 0.7); /* Transparência só na cor do fundo */
}

.caixa p {
    color: #000;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}